.calendar__day-highlighted {
  position: relative;
}

.calendar__day-highlighted::after {
  content: '';
  position: absolute;
  bottom: 2px;
  left: 50%;
  transform: translateX(-50%);
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--color-text-100);
}
