.textarea {
  border-radius: 1.5rem;
  outline: 1px solid var(--color-text);
  width: 100%;
  padding: 1rem;
  height: 90px;
}

.textarea:focus {
  outline: 2px solid var(--color-secondary-400);
  outline-offset: 2px;
}
